<h1>Caça ao tesouro da aquário</h1>
<p>Resolva esse mistério e entre pra turma do Scooby Doo</p>
<a href="https://www.google.com/maps/embed/v1/view
  ?key=AIzaSyCrW4q6Rwk9se8Sov6sWlqT70_dVlNbX7o
  &center=-33.8569,151.2152
  &zoom=18
  &maptype=satellite"></a>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6Kj4EqGlAznHmJ53DXAfPsTRdydQ4moI&q=Rádio+Unesp+Fm"
  allowfullscreen>
</iframe>

<%= form_for quests_path, method: :post do |form| %>
  <p>Formulariozinho bala</p>
  <%= form.text_field :resposta, name: :resposta %>
<% end %>
