<div id="challenges" class="final-screen">
  <p>Todas minhas memórias de quando eu era Eduardo voltaram, estou completo! Minha força está restaurada, agora posso enfrentar minha inimiga e eliminá-la da minha rede!</p>
  <p>Terena teve seu coração corrompido pela ganância, usurpou minha rede e a corrompeu. Ela tem roubado dados e informações de universitários por todo o mundo... não mais! Agora posso combatê-la e restaurar o objetivo do meu projeto.</p>
  <p>Muito obrigado, tudo isso só foi possível graças a você!</p>
  <p>Meu nome agora é EduRoam, minha consciência e a rede se fundiram. Somos um, mas não se preocupe! Estou aqui para fazer segurança de seus dados e facilitar seus estudos! Lembre-se de mim sempre que ligar seu Wi-Fi na Unesp... e se por algum motivo meu sinal cair, é a Terena me atacando, mas não se preocupe, ela não tem mais forças para me derrotar!</p>
  <div class="player-counter">
    <h2><%= @challenge.count %></h2>
    <span class="player-counter-text">intrusos</span>
  </div>
</div>
